<div class="project-header">
	<h1><%= project.escape('title') %></h1>
	<h6> by <%= project.creator().escape('name') %></h6>
	
	<h5>Category: <%= gon.categories[this.model.collection.category.escape('name')] %></h5>
	<h5>Location: <%= project.escape('project_location') %></h5>
</div>

<div class="container row">
	<div class="col-xs-1"></div>
	<div class="project-view-window col-xs-10 row">
		<div class="project-view-body col-xs-8">
			<img src="<%= project.escape('filepicker_url') %>" width="580" height="500">
			
			<div class="where-formatting-matters">	
				<h3><%= project.escape('short_blurb') %></h3>

				<p><%= projectBody.escape('description') %></p>

				<h3 class="project-topic">Risks and Challenges</h3>
				<p><%= projectBody.escape('challenges') %></p>

				<h3 class="project-topic">FAQ</h3>
				<p><%= projectBody.escape('faq') %></p>
			</div>
     </div>
			
		<div class="project-view-side col-xs-4">
			<button class="btn favorites"><img src="assets/star.png" height="40" width="40"> Like this Project!</button>
			
			<h1 class="important"><%= project.numBackers() %></h1>
			<h4>backers</h4>
			
			<h1 class="important">$<%= project.amountFunded() %></h1>
			<h4>pledged of $<%= project.escape('funding_goal') %> goal</h4>
			
			<h1 class="important"><%= project.daysLeft() %></h1>
			<h4>days to go</h4>
			
			<a class="btn support-btn btn-success">
				<p>Back This Project</p><br>
				<sup style="color:black">$1 minimum pledge</sup>
			</a>
			
			<p class="field-note">This project will be funded on <%= project.endDate() %>.</p>
			
			<div class="profile-box">
				<p>Project by</p>
				<h3><%= project.creator().escape('name') %></h3>
			</div>
			
			<h5><strong>Funding period:</strong></h5><p><%= project.fundingPeriod() %></p>
			
			<% if (gon.admin) { %>
				<button class="add-to-staff-picks btn btn-primary">Add to Staff Picks</button>
			<% } %>
		</div>		
	</div>	
</div>

<script>
	$('body').scrollTop(0);
</script>