<% var category = this.model.collection.category.escape('name') %>

<div class="project-header">
	<a href="/#/projects/<%=project.id%>/<%=category%>"><h1><%= project.escape('title') %></h1></a>
	<h6> by <%= project.creator() %></h6>
	<h5>Category: <%= gon.categories[category] %></h5>
	<h5>Location: <%= project.escape('project_location') %></h5>
</div>

<div class="container row">
	<div class="col-xs-1"></div>
	<div class="project-view-window col-xs-10 row">
		<div class="project-view-body col-xs-8">			
			<h1 class="greenify">Alrighty!</h1>
			<h4>Enter your pledge amount</h4>
			<form>
				<div class="form-group">
					<input type="text" name="backing[investment]" class="form-control money-box">
					
					<h4><strong>Select your reward</strong></h4>
					
					<div class="rewards-list">
						<label>
						<input type="radio" value="No reward"> No Reward </label>
						<!-- <p class="l-space">No thanks, I just want to help the project. (Because you don't have a choice right now!!)</p> -->
					</div>
					
				</div>
				
				<input type="submit" class="btn support-btn" value="Fund it!">
			</form>
		</div>
      
		<div class="project-view-side col-xs-4">
			<div class="text-box">
				<h6 class="field-note"><mark><strong>IMPORTANT</strong></mark></h6>
				<p class="field-note">Kickstarter does not guarantee projects or investigate a creator's ability to complete their project. It is the responsibility of the project creator to complete their project as promised, and the claims of this project are theirs alone.</p>
				
				<a class="field-note" href="#">Learn more about accountability</a>
			</div>
			
			<h6 class="field-note"><strong>FREQUENTLY ASKED QUESTIONS</strong></h6>			
			<p class="field-note"></p>
		</div>		
	</div>	
</div>	