<div class="user-profile row">
	<div class="col-xs-2">
		<%= image_tag("KickStarterBlueSquare.png", :alt=>"User Icon", :class=>"blue-square") %>
	</div>
	<div class="show-body col-xs-6">
		<h1><%= @user.name %></h1>
		<h4>Contact <%= @user.name %> at: <%= @user.email%></h4>
		<p> Joined <%= Date::MONTHNAMES[@user.created_at.month] %> <%= @user.created_at.year%></p>
	</div>
</div>