<div class="container user-profile row">
	<div class="col-xs-2">
		<img alt="blue square" class="blue-square" src="/assets/images/KickStarterBlueSquare.png" width="160" height="160" alt="KickStarterBlueSquare">
	</div>
	<div class="show-body col-xs-6">
		<h1><%= @user.name %></h1>
		<h4>Contact <%= @user.name %> at: <%= @user.email%></h4>
		<p> Joined <%= Date::MONTHNAMES[@user.created_at.month] %> <%= @user.created_at.year%></p>
	</div>
</div>