<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">
				<%= image_tag("punchstarterLogo.png")%>
			</a>
    </div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav primary-links">
				<li><a href="/#/discover">Discover</a></li>
				<li><a href="/#/projects/new">Start</a></li>
			</ul>
			<span class="for-search-bar"></span>
			
	    <ul class="nav navbar-nav navbar-right user-links">
	      <% if logged_in? %>
	        <li class="dropdown me-drop-down">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Me
							<b class="caret"></b>
						</a>
						<div class="dropdown-menu row">
							<div class="col-xs-3">
								<p class="my-stuff-links"><strong>My Stuff</strong></p>
									<ul class="my-stuff-links">
										<li><a href="#">Messages</a></li>
										<li><a href="#">Activity</a></li>
										<li><a href="#">Starred projects</a></li>
									</ul><br>
								<p class="account-links"><strong>Account</strong></p>
									<ul class="account-links">
										<li><a href="<%= user_url(current_user)%>">Profile</a></li>
										<li><a href="#">Backer history</a></li>
										<li><a href="#">Settings</a></li>
										<li><a href="#">Find friends</a></li>
									</ul><br>
							</div>
							<% if logged_in? %>
								<% if !current_user.created_projects.empty? %>
								<div class="col-xs-offset-2 col-xs-3">
									<p class="project-links"><strong>Created projects</strong></p>
									<ul class="project-links">
										<% current_user.created_projects.each do |project| %>
											<li>
												<a href="<%= api_project_url(project)%>"><%= project.title%></a>
											</li>
										<% end %>
									</ul>
								</div>
								<% end %>
							<% end %>
							<div class="logout-btn" style="clear:both"><p> You're logged in as <%= current_user.name%><br> <%= link_to("Log out", session_url, { method: :delete})%></p></div>
						</div>
					</li>
				<% else %>
					<li><a class="btn nav-bar-new" href="<%= new_user_url %>">Sign Up</a></li>
					<li><a class="btn nav-bar-new" href="<%= new_session_url %>">Log In</a></li>
	      <% end %>
	    </ul>
		</div	>
  </div>
</nav>