<div class="new-page row">
	<div class="log-in col-xs-3">
		<h4>Log in</h4>
		<p>Please log in to continue.</p>
		<form action="<%= session_url %>" method="POST" id="log-in-form">
			<%= input_auth_token %>
			
			<label for="email">EMAIL</label><br>
			<input type="email" name="user[email]" id="log-in-email"><br>
	
			<label for="password">Password</label><br>
			<input type="password" name="user[password]" id="log-in-pw"><br><br>

			<input type="checkbox"> Remember me<br><br>
	
			<input type="submit" value="Log me in!" class="log-in-btn btn btn-success">
		</form>
	</div>

	<div class="sign-up col-xs-5">
		<h4>New to PunchStarter?</h4>
		<p>A PunchStarter account is required to continue.</p>
		<form action="<%= users_url %>" method="POST" id="sign-up-form">
			<%= input_auth_token %>
			
			<label for="name">FULL NAME</label><br>
			<input type="text" name="user[name]"><br>
	
			<label for="email">EMAIL</label><br>
			<input type="email" name="user[email]"><br>
			<p class="field-note">Used for project and account notifications.</p>

			<label for="email">RE-ENTER EMAIL</label><br>
			<input type="email" name="user[conf_email]"><br>
	
			<label for="password">PASSWORD</label><br>
			<input type="password" name="user[password]"><br><br>
	
			<label for="password">RE-ENTER PASSWORD</label><br>
			<input type="password" name="user[conf_password]"><br><br>
	
			<input type="checkbox"> <strong>Discover new projects</strong>
			<p class="field-note">with our weekly newsletter</p><br>
	
			<p class="field-note">By signing up, you agree to our <a href="#">terms of use</a>
				and <a href="#">privacy policy</a>
	
				<br><br>
			<input type="submit" value="Sign me up!" class="sign-up-btn btn btn-success">
		</form>
	</div>
	
	<div class="sign-up col-xs-4">
		<h4>Log in with Facebook</h4>
		<p>It's fast and easy.</p>
		<button class="btn btn-primary">Place Holder</button><br><br>
		<p class="field-note">We'll never post anything without your permission</p>
		
		<br><br><br><p>Or, sign in as a Guest!</p>
			<button class="btn demo-btn"><p>Demo User</p></button>
	</div>
</div>

<%= javascript_include_tag "listeners/new_page" %>