<!DOCTYPE html>
<html>
<head>
  <title>PunchStarter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if logged_in? %>
	<%= button_to("Log Out", session_url, method: :delete) %>
<% end %>

</body>
</html>
