<!DOCTYPE html>
<html>
<head>
  <title>PunchStarter</title>
	<%= include_gon %>
  <%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<%= render "layouts/navbar" %>
		</div>

		<div id="content">
			<%= yield %>
		</div>

		<div id="footer">
			<%= render "layouts/footer" %>
		</div>
	</div>
</body>
</html>