<!DOCTYPE html>
<html>
<head>
  <title>PunchStarter</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/navbar" %>


	<%= yield %>

	<%= render "layouts/footer" %>
</body>
</html>
